# PostgreSQL
POSTGRES_PASSWORD=postgres

# Airflow
AIRFLOW_FERNET_KEY=cMFVHlCCMqABVxoiDiPFkzYEqmMkW3hErAyJD1WQJVY=
AIRFLOW_ADMIN_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Grafana
GF_SECURITY_ADMIN_PASSWORD=admin

# OpenAI (required for IncidentNarrator)
OPENAI_API_KEY=
